[package]
name = "messaging-universal-dto"
edition.workspace = true
version.workspace = true
license.workspace = true
publish = false

[dependencies]
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }
greentic-types.workspace = true
